.lobbyContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.enter-container, .host-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.enter-container h3, .host-container h3 {
  font-family: 'Joti One', serif;
  font-size: 2.5rem;
  color: #eee;
}

.host-container > h2 {
  color: #FFD369;
}

.host-container >  {
  color: #EEE;
}

.partition {
  display: block;
  width: 2px;
  background-color: #39404c;
  margin: 0 20px;
}
